@font-face {
  font-family: "iconfont"; /* Project id 1481408 */
  src: url('./fonts/iconfont.woff2?t=1734681099436') format('woff2'),
       url('./fonts/iconfont.woff?t=1734681099436') format('woff'),
       url('./fonts/iconfont.ttf?t=1734681099436') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontubiaozhizuomobanyihuifu-:before {
  content: "\e693";
}

.iconAPI:before {
  content: "\e81d";
}

.iconhotel:before {
  content: "\e63a";
}

.iconfood:before {
  content: "\e62e";
}

.iconjourney:before {
  content: "\e623";
}

.icontransportation:before {
  content: "\e625";
}

